@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*, ::before, ::after{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
  }
main{
    margin: 2em;
}
nav{
    display: flex;
    /* margin-right: 2em; */
    padding: 2em;
    border-bottom: 2px solid #000;
}
.current-page{
    text-decoration: underline;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.list-one{
    margin-right: auto;
}
.list-two{
    margin-left: auto;
}
li{
    margin-left: 2em;
    font-size: 1.1rem;
}
  .fa-bars{
    display: none !important;
  }
.projects{
    background-color: #3a3a3a;
    border: none;
    padding: 0.5em 0.75em;
}
.projects a{
    color: #fff;
}
.projects:hover{
    transform: translateY(2px);
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    text-decoration: overline;
}
main{
    width: 80%;
    margin: 3em auto;
}
.aboutme-img{
    padding-bottom: 3em;
    width: 25%;
    /* border: 1px solid red; */
    margin: 0 auto;
    min-height: 50vh;
}
img{
    max-width: 100%;
    width: 100%;
    min-height: 50vh;
}
main p{
    margin-bottom: 2em;
    line-height: 1.6em;
    font-size: 1.1rem;
}
 .main-div{
    margin-bottom: 2em;
    line-height: 1.6em;
}
.main-ul{
    display: block;
    list-style: disc;
    /* text-align: center; */
}
footer{
    text-align: center;
    margin-top: 6em;
}
footer p{
    font-size: 0.9rem;
    margin-bottom: 3em;
}
.fa-brands{
    color: #000;
    margin-left: 1em;
    font-size: 1.5rem;
}
.fa-brands:hover{
    color: rgb(117, 108, 108);
}

@media (min-width:750px) and (max-width:1000px){
    .aboutme-img{
        width: 65%;
    }
}

@media (max-width: 750px) {
    nav{
        padding: 1em;
        padding-bottom: 0;
      }
       .list-two {
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        background-color: rgb(176, 93, 93);
        z-index: 3;
        place-content: center;
        place-items: center;
        width: 0%;
        height: 100%;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s ease;
      }  
      .list-two.active{
        opacity: 1;
        pointer-events: all;
        width: 100%;
      }
      .fa-bars {
        display: block !important;
        position: relative;
        z-index: 5;
      }
      li{
        margin-bottom: 1.5em;
      }
    main{
        width: 100%;
        margin: unset;
        padding: 1.5em;
    }
    .aboutme-img{
        width: 60%;
    }
    main p{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        line-height: 1.6em;
        padding-bottom: 2em;
    }
    h2{
        margin-bottom: 0.5em;
    }
    .main-div{
        margin-bottom: 2em;
    }
    .main-ul{
        line-height: 1.1em;
    }
}